.chat-main-div {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.columns-padding {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    
}

.user-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.user-card {
    display: flex;    
    gap: 10px;
    width: 200px;
    padding: 10px;
    max-width: 250px;
    border: 1px solid rgb(230, 222, 222);
    border-radius: 6px;
    cursor: pointer;
}

.user-card.active .user-letter-text {
    background-color: lightblue; /* Apply background color only to the selected card */
}

.user-letter-text {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-letter-text p {
    text-align: center;
    margin: 0;
    
}


.card-title{
    font-size: 20px;

}


.user-name-user-message {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 15px;
    
}

.user-message {
    color: black;
}

.clicked-card-content {
    padding: 20px;
    border-radius: 12px;
}

/* Define color classes */
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.magenta {
    background-color: magenta;
}

.cyan {
    background-color: cyan;
}




.message-body-main-div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vertical-line {
    border-right: 1px solid rgb(218, 215, 215); /* Change the color and style as needed */
    height: 100vh; /* Set the height to match the viewport height */
}


.horizontal-line{
    width: 100%; /* Full width */
  height: 1px; /* Thickness of the line */
  background-color: #ccc; /* Color of the line */
  margin: 10px 0; /* Adjust margin as needed */
}

.user-selected-card-main-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 8px 20px 0px 10px;
}


.clicked-user-message{
    background-color: #f1f1f1;
    
    width: 200px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin-left: 10px;
}

.clicked-user-message p{
    padding: 2px 4px 4px 5px;
}





.admin-messages{
    background-color: #69edf7;
    min-width: 200px;
    border: 1px solid #69edf7;
    border-radius: 4px;
    margin-right: 10px;
    float: right;
}

.admin-messages p{
    padding: 2px 4px 4px 5px;
}




.message-box-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Make container full height of the viewport */
}


.message-box{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 450px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 10px;
}

.message-box textarea{
    width: 400px;
    border: 1px solid rgb(206, 199, 199);
    border-radius: 4px;
    padding: 10px;
}

.send-btn{
    padding: 6px;
    float: right;
    cursor: pointer;
    border: 1px solid rgb(206, 199, 199);
    border-radius: 4px;
}

.send-btn:hover{
    border: 1px solid rgb(41, 142, 236);
}