.imgListSection{
    border: 1px solid darkgray;
    border-radius: 7px;
    box-shadow: 1px 1px 8px rgb(206, 206, 206);
    min-height: 5rem;
    display: flex;
    justify-content: left;
    gap: 15px;
    align-items: center;
    padding-left: 10px;
    /* overflow: scroll; */
}
.imgListSection::-webkit-scrollbar {
    display: none !important;
  }
.imgListSection img{
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid;
    border-radius: 5px;
    object-fit: contain;
    cursor: pointer;
}
/* style={{display:'flex', gap:'10px', alignItems:'center', height:'4rem'}} */
.scrollableSection{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 4rem;
    max-width: 14rem;
}
.imgSection{
    margin: 10px;
}
.imgListWrapper{
    /* border: 1px solid; */
    max-height: 3rem;
    box-sizing: border-box;
}

.imgSection img{
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}
.imgWraper{
    /* padding: 10px; */
    box-shadow: 1px 1px 8px rgb(206, 206, 206);
    border-radius: 7px;
    /* height: fit-content; */
    margin-top: 10px;
}
.radioBtnList{
    display: flex;
    flex-direction: column;
}
.btnSection{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    }
    .btnSection Button{
        /* width: 5rem; */
    }




/* Hide default file input text */
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  /* Style the custom button */
  .uploadButton {
border: 1px solid rgba(0, 0, 0, 0.3);
width: 3.3rem;
height: 3.3rem;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: xx-large;
cursor: pointer;
margin-top: 7px;

  }
  
  .uploadButton span {
    display: inline-block;
    line-height: 2.2;
    
  }
  .crossIcon{
    background-color: #fff;
    position: relative;
    bottom: 60px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.121);
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-size: large;
    border-radius: 50%;
    color: tomato;
    left: 37px;
    cursor: pointer;
  }