.imgListSection{
    /* border: 1px solid darkgray; */
    border-radius: 7px;
    box-shadow: 1px 1px 8px rgb(206, 206, 206);
    min-height: 5rem;
    display: flex;
    gap: 10px;
    padding: 5px;
    overflow: scroll;
}
.imgListSection img{
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid;
    border-radius: 5px;
    object-fit: contain;
    cursor: pointer;
}
.imgSection{
    margin: 10px;
}

.imgSection img{
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}
.imgWraper{
    padding: 10px;
    box-shadow: 1px 1px 8px rgb(206, 206, 206);
    border-radius: 7px;
    /* height: fit-content; */
    margin-top: 10px;
}
.radioBtnList{
    display: flex;
    flex-direction: column;
}
.btnSection{
 
    display: flex;
    justify-content: space-around;
    }
    .btnSection Button{
        width: 5rem;
    }




/* Hide default file input text */
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  /* Style the custom button */
  .uploadButton {
    display: inline-block;
    width: 55px; /* Adjust size as needed */
    height: 55px; /* Adjust size as needed */
    border: 2px solid grey;
    border-radius: 50%; /* Make it circular */
    background-color: rgb(32, 29, 29); /* Button color */
    color: white; /* Text color */
    font-size: 24px; /* Adjust size as needed */
    text-align: center;
    line-height: 40px; /* Center the plus sign vertically */
    cursor: pointer;
  }
  
  .uploadButton span {
    display: inline-block;
    line-height: 2.2;
    
  }
  