.common-style{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.announcementbar-main-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 30px; */

}

.announcementbar-text-field{
    border: 1px solid grey;
    border-radius: 4px;
    padding: 6px;
}




.announcementbar-color-pickers-div{
    display: flex;

    flex-direction: column;
    justify-content: space-between;


}

.announcementbar-save-btns-div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.announcementbar-animation-section-main-div {

   

}

.label-element-placement{
}
.common-style label{
    font-size: 15px;
}
.label-element-placement input{
margin-top: 5px;

}

.announcementbar-animation-section-bullets {

  
}

.announcementbar-edit-heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 17px;
}

.announcementbar-animation-section-bullets label{
    font-size: 14px;
   border: 1px solid rgba(0, 0, 0, 0.139);
   padding: 5px;
   border-radius: 6px;
   cursor: pointer;
}
.announcementbar-animation-section-bullets input{
/* justify-self: center; */
/* align-self: center; */
}