/* announcement element */

.dnd-announcement-main-div {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.dnd-fore-font-color-picker {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.dnd-color-picker-main-div {
    display: flex;
    flex-direction: row;
    gap: 10px
}